<html>
  <head>
    <title>GCP and You</title>
  </head>
  <body>
    <h1>Which Google Cloud product are you?</h1>
    <h1>You are: {{ product }}</h1>
  </body>
  <div class="container">
    <div class="jumbotron">
      <h3>Brought to you by...</h3>
      <h3>Hostname: {{ hostname }}</h3>
      <h3>IP: {{ ip }} </h3>
      <h3>Date: {{ datetime }}</h3>
      <h3>App version: {{ app_version }}</h3>
      <h3>Alpha features enabled: {{ alpha_enabled }}</h3>
      <h3> New feature here!</h3>
      <h3>Another new feature.</h3>
    </div>
  </div>
</html>
